:root {
    --osnova-text-color :  #757575;
    --two-text-color: #212121;
    --background-color: #2196F3;
    --active-color: #FFFFFF;
    --dont-active-color: #F5F4FA;
    --background-h1-color: #2F303A;
    --color-footer-last:  rgba(255, 255, 255, 0.6);
    --button-active: #188CE8
}
*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    background-color: var(--active-color);
    color: var(--osnova-text-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}
li {
    list-style-type: none;
}
ul {
    margin: 0px;
    padding-left: 0px;
}
h1
h2
h3
h4
h5
h6 {
    margin: 0px;
}
p {
    margin: 0px;
}
img {
    display: block;
    max-width: 100%;
}
.hat {
    border-bottom: 1px solid #ECECEC;;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.secondary-title {
    color: var(--two-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.name-company {
    color: var(--two-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    margin-top: 0;
    margin-bottom: 10px;
}
.logo:active
.logo:hover
.logo:focus
.logo:visited {
    color: var(--background-color);
}
.logo-span:active
.logo-span:hover
.logo-span:focus
.logo-span:visited {
    color: var(--two-text-color);
}
.logo {
    color:var(--background-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-span {
    color: var(--two-text-color);
}
.studio:hover {
    color: var(--background-color);
}
.studio:focus {
    color: var(--background-color);
}
.studio {
    color: var(--two-text-color);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    
    display: inline-block;
}
.nomer {
    color:var(--osnova-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;

    display: inline-block;
}
.nomer:hover{
    color: var(--background-color);
}
.nomer:focus
.nomer:active{
    color: var(--background-color);
}
.main-header {
    color: var(--active-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.header-studio {
    background-color: var(--background-h1-color) ;
    padding-top: 200px;
    padding-bottom: 200px;
    align-items: center;
    text-align: center;
}
.button-studio {
    background-color:var(--background-color);
    color: var(--active-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    
    border-radius: 4px;
    border: transparent;
    padding: 10px 32px;
}
.button-studio:hover,
.button-studio:focus,
.button-studio:active {
    background-color: var(--button-active);
}
.text-benefits {
    font-size: 14px;
    line-height: 1.71;
}
.name-comand{
    color: var(--two-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.text-comand {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
}
.footer-span {
    color: var(--active-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.footer {
    background-color: var(--background-h1-color);
}
.footer-adress {
    color: var(--active-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.footer-adress:hover,
.footer-adress:focus {
    color: var(--background-color);
}
.phone {
    color: var(--color-footer-last);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
a{
    text-decoration: none;
    }
    a:hover{
    text-decoration: none;
    }
    a:active{
    text-decoration: none;
    }
.phone:hover,
.phone:focus,
.phone:active {
    color: var(--background-color);
}
.current {
    color:var(--background-color)

}
.button-filter {
    color: var(--two-text-color);
    background-color: var(--dont-active-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.65;
    text-align: center;
    cursor: pointer;

    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    border: 4px solid transparent;
    padding: 6px 22px;
    margin-right: 8px;
}

.button-filter:last-child{
    margin-right: 0px;
}
.button-filter:hover,
.button-filter:focus,
.button-filter:active{
    color: var(--active-color);
    background-color: var(--background-color);
}
.name-port {
    color: var(--two-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0px;
    margin-bottom: 4px;
}
.text-port {
    color: var(--osnova-text-color);
    font-size: 16px;
    line-height: 1.87;
    margin-top: 0px;
}
.comand{
    background-color: var(--dont-active-color);
}
.li-comand {
    background-color: var(--active-color);
}
.nomer:hover,
.nomer:focus{
    color: var(--background-color);
}
.visual-hiden { position: absolute; white-space: nowrap; width: 1px; height: 1px; overflow: hidden; border: 0; padding: 0; clip: rect(0 0 0 0); clip-path: inset(50%); margin: -1px; }
.hat > .container,
.navigation,
.contact{
    display: flex;
    align-items: center;
}
.navigation .list + .list {
    margin-left: 50px;
}
.contact .list + .list {
    margin-left: 50px;
}
.navigation .studio,
.contact .nomer {
    padding-top: 32px;
    padding-bottom: 32px;
}
.navigation {
    margin-left: 93px;
}
.contact {
    margin-left: auto;
}
.list-company {
    flex-basis: 270px;
    margin-right: 30px;
}
.important-benefits {
    display: flex;
}
.benefits {
    padding-bottom: 0px;
}
.list-company:last-child {
    margin-right: 0px;
}
.engane-me {
    margin-top: 0px;
    margin-bottom: 50px;
}
.engane-important {
    display: flex;
    flex-wrap: wrap;
}
.list-work {
    flex-basis: 370px;
    margin-right: 30px;
}
.list-work:last-child{
    margin-right: 0px;
}
.comand-me {
    margin-top: 0;
    margin-bottom: 50px;
}
.comand-important {
    display: flex;
    flex-wrap: wrap;
}
.list-comand {
    flex-basis: 270px;
    margin-right: 30px;
    background-color: var(--active-color);
    text-align: center;
}
.list-comand:last-child {
    margin-right: 0;
}
.name-comand {
    margin-top: 0;
    margin-bottom: 10px;
}
.footer-adress {
    padding: 0px;
}
.footer-logo {
    margin-top: 0;
    margin-bottom: 20px;
    display: inline-block;
}
.conect-gmail {
    margin-top: 0;
    margin-bottom: 9px;
}
.conect-gmail:last-child{
    margin-bottom: 0;
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.click-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
} 
.list-button:last-child{
    margin-right: 0px;
}
.list-button {
    display: block;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-right: 8px;
    justify-content: center;
}
.list-button:last-child {
    margin-right: 0;
}
.list-port {
    display: flex;
    flex-wrap: wrap;
}
.port-project {
    margin-right: 30px;
    width: 370px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.port-project:nth-child(3n){
    margin-right: 0px;
}
.text-elements {
    padding-top: 30px;
    padding-bottom: 30px;
}
.general-port-text {
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}
.img-port {
    margin-bottom: 0px;
}